@font-face {
    font-family: Montserrat;
    src: url("../assets/fonts/Montserrat.ttf");
}

* {
    font-family: Montserrat;
    box-sizing: content-box;
    margin: 0;
}

body, html {
    height: 100%;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;
}

#formulaire-utilisateur {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: fit-content;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;

    #champs-container {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .input-container {
            display: flex;
            justify-content: space-between;
            gap: 20px;

            label {
                flex: 1;
                text-align: end;
            }
        }
    }

    #boutons-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
        max-width: 75%;

        hr {
            align-self: center;
            width: 20%;
        }

        button {
            flex: 1;
        }
    }

    #cle-api-container {
        display: flex;
        flex-direction: column;
        gap: 5px;

        #cle-api {
            align-self: center;
            padding: 5px;
            border: 1px solid gray;
            overflow: hidden;
            font-size: 14px;
        }
    }
}